/* .searchDiv {
  max-width: 60vw;
  max-height: 40vh;
  overflow: visible;
  /* padding-left:40.2%; */
 
/* } */ 
.buttonDiv {
  max-width: inherit;
  padding-top: 10%;
}
.buttonDiv button {
  position: relative;
  left: 45%;
  /* top:10%; */
}

.mainDiv {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
  background: #342E37;
  /* display:inline-flex; */
  flex-flow: row;
  /* background-repeat: repeat; */
  
}
.tile {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 2rem;
  width:340px;
}
